<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	 
	
	<!-- DAO -->
	<bean id="memInstanceMonitor" class="io.memcloud.stats.business.MemInstanceMonitor" />
    <bean id="memcachedClientHandler" class="io.memcloud.stats.business.MemcachedClientHandler" init-method="init"/>
    <bean id="memStateHander" class="io.memcloud.stats.business.MemInstanceStateHander" init-method="init"/>
    
    <!-- Action --> 
	<bean name="faultReceiveAction" scope="prototype" class="io.memcloud.stats.action.FaultReceiveAction"
		parent="baseAction">
	</bean>
	<bean name="clientAction" scope="prototype" class="io.memcloud.stats.action.ClientAction"
		parent="baseAction">
	</bean>
	
</beans>
