<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean name="dynamicConfiguration" class="io.memcloud.utils.DynamicProperties">
		<description>constructor method signature: String fileName,long delay,long period,String name,String charset</description>
		<constructor-arg index="0" value="classpath:dynamic.properties"/>
		<constructor-arg index="1" value="10000"/>
		<constructor-arg index="2" value="15000"/>
		<constructor-arg index="3" value="default"/>
		<constructor-arg index="4" value="UTF-8"/>
	</bean>
	
    <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">
        <property name="httpConnectionManager">
            <bean class="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager">
                <property name="params">
                    <bean class="org.apache.commons.httpclient.params.HttpConnectionManagerParams">
                        <property name="connectionTimeout" value="30000"/>
                        <property name="soTimeout" value="180000"/>
                        <property name="defaultMaxConnectionsPerHost" value="1024"/>
                        <property name="maxTotalConnections" value="2048"/>
                        <property name="receiveBufferSize" value="4096"/>
                        <property name="sendBufferSize" value="4096"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
    
    <bean id="httpUtil" class="io.memcloud.utils.HttpUtil" init-method="init" scope="singleton">
    	<property name="httpClient"  ref="httpClient" />
    </bean>
    	
    
</beans>
