<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{MM-dd HH:mm:ss.SSS} %5p %c{1}:%L - %m%n</Pattern>
		</layout>
	</appender>
	
	<appender name="MemCloudAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 
         <filter class="ch.qos.logback.classic.filter.LevelFilter">   
            <level>ERROR</level>   
            <OnMismatch>DENY</OnMismatch>   
            <OnMatch>ACCEPT</OnMatch>   
        </filter>
         -->
             
        <File>memcloud.log</File>   
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">   
            <FileNamePattern>memcloud.log.%i</FileNamePattern>   
            <MinIndex>1</MinIndex>   
            <MaxIndex>7</MaxIndex>   
        </rollingPolicy>   
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">   
            <MaxFileSize>20MB</MaxFileSize>   
        </triggeringPolicy>   
        <layout class="ch.qos.logback.classic.PatternLayout">   
            <Pattern>%d{MM-dd HH:mm:ss.SSS} %5p %c{1}:%L - %m%n</Pattern>   
        </layout>   
    </appender>

	
	

	<!-- ========================================================= -->

	<logger name="com.google.code.yanf4j" level="warn" additivity="false">
        <appender-ref ref="MemCloudAppender"/>
    </logger>
    
    <logger name="net.rubyeye" level="warn" additivity="false">
        <appender-ref ref="MemCloudAppender"/>
    </logger>
    
    <logger name="com.sohu.tv.memcloud" level="warn" additivity="false">
        <appender-ref ref="MemCloudAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="MemCloud" level="info" additivity="false">
        <appender-ref ref="MemCloudAppender"/>
    </logger>

	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>
	
</configuration>

